body {
    text-align: center;
    position: relative;
    display: flex;
    max-height: 100%;
}

#rules {
	max-width: 45%;
	margin-right:30px;

}
.life {
	text-align: left;
	margin: 40px 0px 0px 40px;
}
#canvas {
	flex-direction: column;
}
.score {

	text-align: left;
	margin: 40px 0px 0px 40px;
}
.game-resouces {
	dispaly: flex;
	flex-direction: column;
}

