body {
    text-align: center;
    position: relative;
    display: flex;
    max-height: 100%;
    font-family: "Lucida Grande";
}

#rules {
	max-width: 45%;
	margin:2%;

}
.life {
	text-align: center;
	display:flex;
	flex-direction:column;
	padding:3%;
	margin: 2%;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	height: 120px;
	width: 180px;

}
#high-score {
	text-align: center;
	display:flex;
	flex-direction:column;
	padding:3%;
	margin: 2%;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	height: 120px;
	width: 180px;

}
.life1{
	diisplay:none;
}
.heart-image{

	display:flex;
	flex-direction:row;
}
#canvas1 {

	flex-directioon: column;
}
.score {

	text-align: center;
	display:flex;
	flex-direction:column;
	padding:2%;
	margin: 2%;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	height: 120px;
	width: 180px;
}
.game-resources {
	max-width: 100%;
	margin:2%;
	padding:2%;
	border-style: solid;
	border-width: 2px;	
}
.buttonControls {
	text-align: left;
	margin: 40px 0px 0px 40px;
}
.timer {
	text-align: center;
	padding: 2%;
	margin:2%;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	height: 120px;
	width: 180px;
}
#countdown{
	
	padding:2%;
}
#restart{
	display:none;
}
#high-score{
	display:none;
}